.Card {
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    box-shadow: 5.9893px 5.9893px 17.9679px rgba(136, 160, 183, 0.25), -5.9893px -5.9893px 17.9679px rgba(255, 255, 255, 0.5);
    border-radius: 23.9572px;
    height: 55.55vh;
    width: 18.75vw;
    align-items: center;
    text-align: center;
}

.cardTitleContainer {
    min-height: 24%;
}

.cardTitle {
    font-size: 26px;
    padding: 20px 30px;
    letter-spacing: -0.019em;
}

.cardValue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cardValue input {
    all: unset;
    text-align: center;
    width: 100%;
    font-size: 64px;
    margin: 0 25.63%;
    border-bottom: 2px solid black;
}

.cardValue input:focus {
    border-bottom: 2px solid #25CEDE;
    transition: all 0.1s ease-in;
}

.cardValue input:read-only {
    border-bottom: none;
}

@media only screen and (max-width: 992px) {
    .cardTitle {
        font-size: 22px;
    }

    .cardValue input {
        font-size: 56px;
    }
}

@media only screen and (max-width: 768px) {
    .cardTitle {
        font-size: 18px;
    }

    .cardValue input {
        font-size: 52px;
    }
}